[user]
name = Higor Alves
email = me@higoralves.dev
signingkey = CF3657F37E580DB3

[alias]
  staash = stash -all

[includeIf "gitdir:~/Developer/Ask/"]
  path = ~/Developer/Ask/.gitconfig

[includeIf "gitdir:~/Developer/Akqa/"]
  path = ~/Developer/Akqa/.gitconfig

[rerere]
	enabled = true
[column]
	ui = auto
[commit]
	gpgsign = true
